<launch>


	<node pkg="rosbag" type="play" name="play" launch-prefix="xterm -e" args="/home/haibo/catkin_ws/src/ST_ROS/Fly_Test_1.bag -l --delay=1 --clock">
  	<remap from="Hscan" to="Hscan_record"/>
		<remap from="Vscan" to="Vscan_record"/>
		<remap from="stereo/depth" to="stereo/depth_record"/>
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/haibo/catkin_ws/src/ST_ROS/laserscan_debugging.rviz"/>

	<node pkg="stereo_disparity" name="stereo" type="stereo_disparity_node" output="screen"/>

	<node pkg="depth_to_line_extraction" name="laser_scan" type="depth_to_line_extraction_node" output="screen"/>

</launch>
