<launch>

	<node pkg="ueye" name="ueye_camera_driver" type="ueye_node" required="true" 
	  	output="screen"/>

	<node pkg="stereo_disparity" name="stereo_algorithm" type="stereo_disparity_node"/>

	<node pkg="depth_to_line_extraction" name="laser_scan" type="depth_to_line_extraction_node"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(env HOME)/catkin_ws/src/UAV-phase1/NTU_ST_UAV_P1.rviz"/>

</launch>
